.left-side{
  background: #FFFFFF;
  height: auto;
}

.left-content{
  margin-top: 220px;
  width: 39vw;
  color: #555;
  text-align: center;
}

.icons{
  font-size: 22px;
}

.icons a{
  color: #555;
}

.icons a:hover{
  color: #555;
}

.bg{
  padding-top: 120px;
  padding-bottom: 120px;
}

.bg-yellow{
  background: #f2bb30;
}

.bg-blue{
  background: #1476de;
}

.bg-light-green{
  background: #a4dbc6;
}

.bg-orange{
  background: #ffa845;
}

.banner{
  padding-bottom: 70px;
  box-shadow: 3px 5px 8px -2px rgba(100,100,100,1);
  border-radius: 10px;
  display: block;
  transition: transform .2s;
  background: #FFF;
  position: relative;
}

.img-div{
  margin-top: 30px;
}

.pos-abs{
  position: absolute;
  bottom: 30px;
  left: 15px;
  right: 15px;
}

.links-bg{
  opacity: 1;
  border-top: 1px solid;
  border-color: #999;
  background: rgba(0, 0, 0, 0.7);
}

.filter-white{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(193deg) brightness(105%) contrast(105%);
}

.icon-title{
  padding-top: 5px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
}

.icon-link{
  color: inherit;
  font-size: 25px;
  color: #FFF;
}

.icon-link:hover{
  color: inherit;
  color: #DDD;
}

.footer{
  padding-top: 50px;
  background: #111;
  color: #FFF;
}

.icon-footer{
  color: inherit;
  font-size: 25px;
}

.icon-footer:hover{
  color: inherit;
}

@media (max-width: 992px){
  .left-side{
    height: 500px;
  }

  .left-content{
    padding-right: 18px;
    margin-top: 200px;
    width: 100vw;
  }
}
